@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom fade-in animation */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slideInRight {
  animation: slideInRight 1s ease-out;
}

.animate-slideOutLeft {
  animation: slideOutLeft 1s ease-in;
}
